# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.env

.venv/
# FastAPI specific
*.sqlite3
db.sqlite3

# PyCharm / JetBrains
.idea/

# VSCode
.vscode/

# Cursor
.cursor/

# macOS
.DS_Store

# Node.js
node_modules/
dist/
build/
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# NPM & Yarn Cache
.npm/
.yarn/

# Other system files
Thumbs.db
